#root {
  font-family: system-ui;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #43a047;
  padding: 1.4rem;
  text-align: center;
}

h1 {
  text-align: center;
  color: #43a047;
}

.container .titulo {
  font-weight: 300;
  font-weight: bold;
}

.barra a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin: 0px 10px;
}

.card {
  transition: all 0.3s;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img {
  filter: drop-shadow(8px 8px 10px gray);
}

.cardText {
  /* backdrop-filter: invert(80%); */
  backdrop-filter: sepia(100%);
}

.card:hover {
  transform: scale(1.05);
}

.card:hover .card-img {
  filter: brightness(70%);
}

.corazon {
  cursor: pointer;
}